<div class="table-container">
    <table class="table table-dark">
      <thead class="table-header table-header-dark">
        <tr>
          <th scope="col" class="table-cell">Name</th>
          <th scope="col" class="table-cell">Address</th>
          <th scope="col" class="table-cell">Type</th>
          <th scope="col" class="table-cell">Garagespace</th>
          <th scope="col" class="table-cell">Level Requirement</th>
          <th scope="col" class="table-cell">Price</th>
          <th scope="col" class="table-cell">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row table-row-dark table-row-even table-row-even-dark" *ngFor="let building of buildings">
          <td class="table-cell">{{ building.name }}</td>
          <td class="table-cell">{{ building.address }}</td>
          <td class="table-cell">{{ building.type }}</td>
          <td class="table-cell">{{ building.garageSpaces }}</td>
          <td class="table-cell">{{ building.characterLevelRequirement }}</td>
          <td class="table-cell">{{ building.price }}</td>
          <td class="table-cell">
            <button type="button" class="button">Purchase</button>
        </td>
        </tr>
      </tbody>
    </table>
</div>