<div class="table-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <p>Loading weapons...</p>
  </div>
  <div *ngIf="fetchErrorMessage" class="error-message-box">
    <p class="error-message">{{ fetchErrorMessage }}</p>
  </div>
  <table *ngIf="!isLoading && !fetchErrorMessage" class="table table-dark">
    <thead class="table-header table-header-dark">
      <tr>
        <th scope="col" class="table-cell">Name</th>
        <th scope="col" class="table-cell">Type</th>
        <th scope="col" class="table-cell">Damage</th>
        <th scope="col" class="table-cell">Range in Meters</th>
        <th scope="col" class="table-cell">Magazine Size</th>
        <th scope="col" class="table-cell">Fire Rate</th>
        <th scope="col" class="table-cell">Reload Time</th>
        <th scope="col" class="table-cell">Supported Ammo Types</th>
        <th scope="col" class="table-cell">Supported Attachments</th>
        <th scope="col" class="table-cell">Level Requirement</th>
        <th scope="col" class="table-cell">Price</th>
        <th scope="col" class="table-cell">
          <button type="button" class="button" (click)="addWeapon()">Add</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row table-row-dark table-row-even table-row-even-dark" *ngFor="let weapon of weapons">
        <td class="table-cell">{{ weapon.name }}</td>
        <td class="table-cell">{{ weapon.type }}</td>
        <td class="table-cell">{{ weapon.damage }}</td>
        <td class="table-cell">{{ weapon.rangeInMeters }}</td>
        <td class="table-cell">{{ weapon.magazineSize }}</td>
        <td class="table-cell">{{ weapon.fireRate }}</td>
        <td class="table-cell">{{ weapon.reloadTime }}</td>
        <td class="table-cell">{{ weapon.supportedAmmoTypes }}</td>
        <td class="table-cell">{{ weapon.supportedAttachments }}</td>
        <td class="table-cell">{{ weapon.characterLevelRequirement }}</td>
        <td class="table-cell">{{ weapon.price }}</td>
        <td class="table-cell">
          <div *ngIf="selectedCharacter?.ownedWeaponIds?.includes(weapon.id);then purchased else notPurchased"></div>
          <ng-template #purchased><button type="button" class="purchased-button">Purchased</button></ng-template>
          <ng-template #notPurchased><button type="button" (click)="buyWeapon(weapon.id)" class="purchase-button">Purchase</button></ng-template>
          <button type="button" (click)="deleteWeapon(weapon.id)" class="close-button">Delete</button>
          <button type="button" (click)="updateWeapon(weapon.id)" class="button">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Form displayed as an overlay -->
<div *ngIf="isFormVisible" class="overlay">
  <div class="overlay-content">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new weapon</h2>
    <form [formGroup]="weaponForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Weapon Name</label>
          <input type="text" id="name" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type weapon name" required>
        </div>
        <div class="w-full">
          <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
          <select id="type" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
            <option *ngFor="let type of weaponTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="w-full">
          <label for="damage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Damage</label>
          <input type="number" id="damage" formControlName="damage" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="rangeInMeters" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Range in Meters</label>
          <input type="number" id="rangeInMeters" formControlName="rangeInMeters" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="magazineSize" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Magazine Size</label>
          <input type="number" id="magazineSize" formControlName="magazineSize" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="fireRate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fire Rate</label>
          <input type="number" id="fireRate" formControlName="fireRate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="reloadTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reload Time</label>
          <input type="number" id="reloadTime" formControlName="reloadTime" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="supportedAmmoTypes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supported Ammo Types</label>
          <div *ngFor="let ammoType of ammoTypes" class="flex items-center mb-2">
            <input type="checkbox" [id]="ammoType" [value]="ammoType" (change)="onAmmoTypeChange($event)" [checked]="isAmmoTypeSelected(ammoType)" class="mr-2">
            <label [for]="ammoType" class="text-sm font-medium text-gray-900 dark:text-white">{{ ammoType }}</label>
          </div>
        </div>
        <div class="w-full">
          <label for="supportedAttachments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supported Attachments</label>
          <div *ngFor="let attachment of attachments" class="flex items-center mb-2">
            <input type="checkbox" [id]="attachment" [value]="attachment" (change)="onAttachmentChange($event)" [checked]="isAttachmentSelected(attachment)" class="mr-2">
            <label [for]="attachment" class="text-sm font-medium text-gray-900 dark:text-white">{{ attachment }}</label>
          </div>
        </div>
        <div class="w-full">
          <label for="characterLevelRequirement" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Level Requirement</label>
          <input type="number" id="characterLevelRequirement" formControlName="characterLevelRequirement" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
          <input type="number" id="price" formControlName="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="sm:col-span-2">
          <button type="submit" class="button">Add Weapon</button>
          <button type="button" class="close-button" (click)="closeForm()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Character selection overlay -->
<div *ngIf="!selectedCharacter" class="overlay">
  <app-character></app-character>
</div>

<!-- Weapon update form overlay-->
<div *ngIf="isUpdateFormVisible" class="overlay">
  <div class="overlay-content">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update weapon</h2>
    <form [formGroup]="weaponForm" (ngSubmit)="onUpdate()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Weapon Name</label>
          <input type="text" id="name" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type weapon name" required>
        </div>
        <div class="w-full">
          <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type</label>
          <select id="type" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
            <option *ngFor="let type of weaponTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="w-full">
          <label for="damage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Damage</label>
          <input type="number" id="damage" formControlName="damage" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="rangeInMeters" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Range in Meters</label>
          <input type="number" id="rangeInMeters" formControlName="rangeInMeters" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="magazineSize" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Magazine Size</label>
          <input type="number" id="magazineSize" formControlName="magazineSize" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="fireRate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fire Rate</label>
          <input type="number" id="fireRate" formControlName="fireRate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="reloadTime" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reload Time</label>
          <input type="number" id="reloadTime" formControlName="reloadTime" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="supportedAmmoTypes" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supported Ammo Types</label>
          <div *ngFor="let ammoType of ammoTypes" class="flex items-center mb-2">
            <input type="checkbox" [id]="ammoType" [value]="ammoType" (change)="onAmmoTypeChange($event)" [checked]="isAmmoTypeSelected(ammoType)" class="mr-2">
            <label [for]="ammoType" class="text-sm font-medium text-gray-900 dark:text-white">{{ ammoType }}</label>
          </div>
        </div>
        <div class="w-full">
          <label for="supportedAttachments" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Supported Attachments</label>
          <div *ngFor="let attachment of attachments" class="flex items-center mb-2">
            <input type="checkbox" [id]="attachment" [value]="attachment" (change)="onAttachmentChange($event)" [checked]="isAttachmentSelected(attachment)" class="mr-2">
            <label [for]="attachment" class="text-sm font-medium text-gray-900 dark:text-white">{{ attachment }}</label>
          </div>
        </div>
        <div class="w-full">
          <label for="characterLevelRequirement" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Level Requirement</label>
          <input type="number" id="characterLevelRequirement" formControlName="characterLevelRequirement" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="w-full">
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
          <input type="number" id="price" formControlName="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
        </div>
        <div class="sm:col-span-2">
          <button type="submit" class="button">Update Weapon</button>
          <button type="button" class="close-button" (click)="closeUpdateForm()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

